<p class="title">
	Plyr is a simple, lightweight, accessible and customizable HTML5, YouTube and Vimeo media player that supports [_modern_](#browser-support) browsers.
</p>


<p>Features</p>

<ul>
<li>📼 **HTML Video & Audio, YouTube & Vimeo** - support for the major formats</li>
<li>💪 **Accessible** - full support for VTT captions and screen readers</li>
<li>🔧 **[Customizable](#html)** - make the player look how you want with the markup you want</li>
<li>😎 **Clean HTML** - uses the _right_ elements. &lt;input type="range"> for volume and &lt;progress> for progress and well, &lt;button&gt;s for buttons. There's no</li>
<li>&lt;span> or &lt;a href="#"&gt; button hacks</li>
<li>📱 **Responsive** - works with any screen size</li>
<li>💵 **[Monetization](#ads)** - make money from your videos</li>
<li>📹 **[Streaming](#demos)** - support for hls.js, Shaka and dash.js streaming playback</li>
<li>🎛 **[API](#api)** - toggle playback, volume, seeking, and more through a standardized API</li>
<li>🎤 **[Events](#events)** - no messing around with Vimeo and YouTube APIs, all events are standardized across formats</li>
<li>🔎 **[Fullscreen](#fullscreen)** - supports native fullscreen with fallback to "full window" modes</li>
<li>⌨️ **[Shortcuts](#shortcuts)** - supports keyboard shortcuts</li>
<li>🖥 **Picture-in-Picture** - supports picture-in-picture mode</li>
<li>📱 **Playsinline** - supports the 'playsinline' attribute</li>
<li>🏎 **Speed controls** - adjust speed on the fly</li>
<li>📖 **Multiple captions** - support for multiple caption tracks</li>
<li>🌎 **i18n support** - support for internationalization of controls</li>
<li>👌 **[Preview thumbnails](#preview-thumbnails)** - support for displaying preview thumbnails</li>
<li>🤟 **No frameworks** - written in "vanilla" ES6 JavaScript, no jQuery required</li>
<li>💁‍♀️ **SASS** - to include in your build processes</li>
</ul>
